<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Soundboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col [size]="6" *ngFor="let item of songs">
        <ion-card class="card-sounds">
          <ion-card-content>
            <img [src]="item.icon" />
            <p text-center>{{item.title}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <media-player></media-player>
</ion-content>
